* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}
a {
    text-decoration: none;
    color: white;
}
img {
  width: 100%;
  height: auto;
  /* min-width: 100px; */
}
h2, h3, p {color: white;
text-align: center;}
form {
  width: 100%;
}

.card-header {
  background: grey;
}
.container {
  background: grey;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  align-content: center;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  display: flex;
  flex-flow: column nowrap;
}
.menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
.logo {
  flex: 1 1 auto;
}
.logo a {
  color: black;
  font-size: 30px;
}
.logo a:hover {
    color: #343434;
    text-decoration: none;
}
.nav {
  flex: 5 1 auto;
}
.nav a{
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
.nav a:hover {
    color:#343434;
    text-decoration: none;
}
.social {
  flex: 1 1 auto;
  display: flex;
  color:black;
}
    .social a {
        font-size: 18px;
        color: #fff;
        padding: 0 5px;
    }
    .social a:hover {
        color: #343434;
    }
.texto-principal {
  background: url(../assets/img/hermetica.jpg);
  background-position: center;
  background-attachment: contain;
  background-size:cover;
  height: 580px;
  display:flex;
   align-items:center;
}
.h1 {
  
  font-family: 'Lora', serif;
  font-size: 21px;
  color:white;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}
.section {
  background: #000;
  display: flex;
}
.articulos {
  background: #4e4e6a;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
  margin-left: 2px;
  margin-right: 2px;
}
.article {
  flex: 1 1 40%;
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
}
.navegacion {
  background: #70a3c4;
  flex: 1 1 100%;
  text-align: center;
  height: 30px;
  align-items: center;
}
  
.aside {
  background: grey;
  flex: 1 1 auto;
  text-align: center;
}
.publicidad {
  background: grey;

}
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}
.pie {
  background: #e6af2e;
  width: 300px;
  text-align: center;
}

@media all and (max-width: 948px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
  .h1 {
    font-size: 15px;
  }
  .texto-principal {
    height: 450px;
  }

  @media all and (max-width: 762px) {
    .articulos {
      flex-direction: column;
    }
  }
  @media all and (max-width: 650px) {
    .off {
      display: none;
    }
    .nav {
      font-size: 30px;
    }
  }
  @media all and (max-width: 400px) {
    .aside {
      flex-direction: column;
    }
    .nav {
      font-size: 30px;
    }
  }
}
